<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Java_Automation.Java_Automation.AppTest"/>
      <class name="ExtentReportDemo.BasicExtentReportClass"/>
      <class name="Farm2Me_Login.BaseTest"/>
      <class name="Farm2Me_Login.LoginTest"/>
      <class name="Page_Object_Model.Login_OrangeHRM"/>
      <class name="Java_Automation.Java_Automation.OrangeHRM"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
